 <section id="product1" class="section-p1">
      <h2>Featured Products</h2>
      <p>Summer Collection New Morden Design</p>
      <div class="pro-container">
          <div class="pro" *ngFor="let product of products">
              <img [src]="product.imageOne" alt="">
              <div class="des">
                  <span>{{product.category}}</span>
                  <h5>{{product.productName}}</h5>
                  <div class="star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                  </div>
                  <h4>{{product.price}} TND</h4>
              </div>
              <a href="#"><i class="fal fa-eye cart"></i></a>
          </div>
      </div>
  </section>
